:root {
    --black: #1c1c1c;
    --white: #FFF9EC;
    --pink: #D34F73;
    --orange: #DB7F67;
    --gray: #4F4F4F;
    --light-gray: #6E8898;
}

body {
    background-color: var(--black);
}

.nav-link, #description {
    color: var(--light-gray);
    font-size: 1.25em;
}

.nav-link:hover, .bi:hover {
    color: var(--white); 
}

#hello {
    font-size: 10em;
    background: -webkit-linear-gradient(var(--orange), var(--pink));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#name {
    font-size: 3.5em;
}

#projects {
    color: var(--light-gray);
    font-size: 2.5em;
}

.card-gray {
    color: var(--white);
    background-color: var(--gray);
}

.bi {
    color: var(--light-gray);
    font-size: 1.4em;
}

.card-footer {
    border: none;
}




